body{
    width: 100%;
    background-color: var(--color-black);
    margin: 0;
}

.titles {
    color: var(--color-white);
    font-family: var(--font-headers);
    font-size: 68px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
}